{% extends 'allianceauth/base.html' %}
{% load i18n %}
{% block page_title %}{{ app_title }}{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <br />
        {% include 'freight/menu.html' %}
        <h2 class="text-center">{{ page_title }}</h2>
        <div class="col-lg-12 container">            
            {% block details %}{% endblock %}
        </div>
    </div>
{% endblock %}
